*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
display:flex;
background:#0f172a;
color:white;
}

.sidebar{

width:250px;

height:100vh;

background:#111827;

padding:25px;

position:fixed;

}

.sidebar h2{

margin-bottom:35px;

color:#38bdf8;

}

.sidebar a{

display:block;

padding:15px;

text-decoration:none;

color:#cbd5e1;

border-radius:8px;

margin-bottom:8px;

}

.sidebar a:hover{

background:#1e293b;

color:white;

}

.main{

margin-left:250px;

padding:35px;

width:100%;

}

.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}

.card{

padding:25px;

background:#1e293b;

border:none;

border-radius:15px;

color:white;

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.btn{

font-weight:bold;

}